@import '../common/variable';
@import '../common/mixin';
@import '../common/color';

.bap-drawer {
    border: none;
    width: $width-menu; 
    background-color: $background-left-menu; 

    .mdl-layout-header {
        height: 50px;
    }

    .bap-navigation-footer {
        position: absolute;
        bottom: 0px;
        width: 100%; 

        button {
            display: block;
            margin: 12px auto;
            border-radius: 50%;
            height: 64px; 

            i {
                color: #cdc;
            }
        }
    }

    .bap-navigation {
        
        padding-top: 0;
        background-color: $background-2;

        .bap-navigation__link {
            padding: 15px 0px;
            width: 100%;
            text-align: center;
            
            a {
                @include border-radius(5px);
                text-transform: uppercase;
                background:#aaa;
                display: block;
                width: $width-menu / 2;
                margin: auto;
                color: black;
                padding: 8px 5px;   
                @include transition(background-color .5s, color .5s);
               
                &.active {
                    background: #fff;
                }
                &:hover {
                    background: #455a64;
                    cursor: pointer;
                    color: $link-left-menu;
                }
            }
            
            &:hover {
                background-color: transparent !important;
            }
        }
    }
}

.mdl-layout__drawer .bap-navigation .bap-navigation__link.bap-navigation__link--active {
    color: white; 
}



