@import '../common/variable';

.bap-drawer {
    border: none;
    width: $width-menu; 

    .bap-navigation-footer {
        position: absolute;
        bottom: 0px;
        width: 100%; 

        button {
            display: block;
            margin: 12px auto;
            border-radius: 50%;
            height: 64px; 

            i {
                color: #cdc;
            }
        }
    }
}

.mdl-layout__drawer .bap-navigation .bap-navigation__link {
    padding: 8px 16px; 
}

.mdl-layout__drawer .bap-navigation .bap-navigation__link.bap-navigation__link--active {
    color: white; 
}



