<header class="mdl-layout-header"></header>
<nav class="bap-navigation mdl-navigation mdl-color--blue-grey-900">
    <span ng-repeat="data in urls" class="bap-navigation__link mdl-navigation__link" ng-class="{'active': data.active}">
        <i class="material-icons" ng-click="removeUrl(data)">delete_forever</i>
        <a ng-click="changeUrl(data.url)">{{ data.url }}</a>
    </span>
</nav>
<footer class="bap-navigation-footer">
    <button class="mdl-button" id="toggle-add-url-view">
        <i class="material-icons">add</i>
    </button>
    <button class="mdl-button" id="toggle-setting-view">
        <i class="material-icons">settings</i>
    </button>
</footer>
