@import '../common/variable';

.bap-drawer {
    border: none;
    width: $width-menu; 

    .mdl-layout-header {
        height: 50px;
    }

    .bap-navigation-footer {
        position: absolute;
        bottom: 0px;
        width: 100%; 

        button {
            display: block;
            margin: 12px auto;
            border-radius: 50%;
            height: 64px; 

            i {
                color: #cdc;
            }
        }
    }

    .bap-navigation {
        padding-top: 0;
        .bap-navigation__link {
            padding: 8px 16px 8px 24px;
            .material-icons {
                position:absolute;
                left:0;
                display:none;

                &:hover {
                    color:white;
                }
            }

            &:hover {
                 cursor: pointer;
                .material-icons {
                    display:block;
                }
            }
            
        }
    }
}

.mdl-layout__drawer .bap-navigation .bap-navigation__link.bap-navigation__link--active {
    color: white; 
}



