<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ELL Keychain</title>
    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="../../bower_components/material-design-lite/material.min.css" rel="stylesheet" />

    <link href="./insert.style.css" rel="stylesheet" />

    <script src="../../bower_components/material-design-lite/material.min.js"></script>
    <script src="../../bower_components/angular/angular.min.js"></script>
</head>
<body>
    <div class="bap-card__wrapper">
        <div class="mdl-card bap-card mdl-shadow--8dp" ng-controller="InsertCtrl as vm">
            <form name="insertForm" ng-submit="add()" no-validate>
                <div class="mdl-card__title bap-card__title">
                    <h2 class="mdl-card__title-text"></h2>
                </div>
                <div class="mdl-card__supporting-text">
                    <div class="insert" >
                            <fieldset>
                                <div class="mdl-textfield">
                                    <input 
                                    class="mdl-textfield__input" 
                                    type="text" 
                                    name="url"
                                    placeholder="*.espace.link" 
                                    ng-model="vm.form.url" 
                                    required
                                    url-validator/>                           
                                </div>
                                <p ng-show="insertForm.url.$error.isUrlValid">Ex : https://nom.espace.link</p>
                            </fieldset>
                    </div>        
                </div>   

                <div class="mdl-card__actions mdl-card--border">
                    <input type="submit" 
                        ng-disabled="insertForm.$invalid"
                        class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" 
                        value="Ajouter">
                    </a>
                    <a class="mdl-button mdl-js-ripple-effect" ng-click="cancelAdding()">
                        Annuler
                    </a>
                </div>
            </form>   
        </div>
    </div>
    <script src="../common/utils.js"></script>
    <script src="../insert/insert.view.js"></script>
    <script>
        angular
            .element(document)
            .ready(function() {
                angular.bootstrap(document.body, ['InsertView']);
            });
    </script>
</body>
</html>
