<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ELL Keychain</title>
    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="../../bower_components/material-design-lite/material.min.css" rel="stylesheet" />

    <link href="./setting.style.css" rel="stylesheet" />

    <script src="../../bower_components/material-design-lite/material.min.js"></script>
    <script src="../../bower_components/angular/angular.min.js"></script>
</head>
<body>
    <div class="bap-card__wrapper">
        <div class="mdl-card bap-card mdl-shadow--8dp" ng-controller="SettingCtrl as vm">
            <div class="mdl-card__title mdl-card--expand">
                <h2 class="mdl-card__title-text">Paramètres</h4>
            </div>
            <div class="mdl-card__supporting-text">
                <div class="demo-list-action mdl-list" ng-repeat="data in urls">
                    <div class="mdl-list__item bap-list__item">
                        <span class="mdl-list__item-primary-content">
                            <span>{{ data.url }} </span>
                        </span>
                        <a class="mdl-list__item-secondary-action" href="#" ng-click="removeUrl(data)"><i class="material-icons">delete</i></a>
                    </div>
                </div>
            </div>
            
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" ng-click="toggleSettingView()">
                    Retour
                </a>
            </div>
        </div>
    </div>

    <dialog class="mdl-dialog" id="dialog">
        <h4 class="mdl-dialog__title">Supprimer cette URL?</h4>
        <div class="mdl-dialog__content">
            <p>
                Vous être sur le point de supprimer une URL. En êtes vous sûr ?
            </p>
        </div>
        <div class="mdl-dialog__actions">
            <button type="button" class="mdl-button">Ok</button>
        </div>
    </dialog>

    <script src="../common/utils.js"></script>
    <script src="../setting/setting.view.js"></script>
    <script>
        angular
            .element(document)
            .ready(function() {
                angular.bootstrap(document.body, ['SettingView']);
            });
    </script>
</body>
</html>
